# Reverse ignore list
*
!*/

# Directories to track
!.Xmodmaps/*
!.git_template/*
!.git_template/hooks/*
!.tmux/*
!.vim/*
!scr/*
!scr/display/*
!scr/x_server/*

# Files to track
!.Xdefaults
!.bash_aliases*
!.bashrc
!.bbprofile
!.dir_colors
!.gitconfig.notes
!.gitconfig.notes_bb
!.gitignore
!.inputrc
!.startup.sh
!.tmux.conf
!.vimrc
!.vimrc_minimal
!.ycm_extra_conf.py

# Re-ignoring again
.config/awesome
.netrwhist
.vim/bundle
.vimcoder
AlgorithmPractice
R*
arcanist
bde-tools
chef-repo
cr_*
display.txt
js
llvm
mbig
training_*
