# Reverse ignore list
*
!*/

# Directories to track
!.Xmodmaps/*
!.git_template/*
!.git_template/hooks/*
!.tmux/*
!.vim/*
!scr/*
!scr/display/*
!scr/x_server/*


# Files to track
!.Xdefaults
!.bashrc
!.bbprofile
!.dir_colors
!.gitconfig.notes
!.gitignore
!.inputrc
!.profile
!.startup.sh
!.tmux.conf
!.vimrc
!.ycm_extra_conf.py

# Re-ignoring again
.netrwhist
.vim/bundle
.vimcoder
AlgorithmPractice
llvm/*
mbig/*
training_*
display.txt
