[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "awesome_wm"]
	path = awesome_wm
	url = https://github.com/brhCS/awesome_wm
[submodule "vim/bundle/Vundle"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle
[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
