[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "awesome_wm"]
	path = awesome_wm
	url = https://github.com/brhCS/awesome_wm
[submodule "vim/bundle/Vundle"]
	path = vim/bundle/Vundle
	url = https://github.com/gmarik/Vundle
