# Compiling and Editing
*.a
*.dummy.c
*.o
*.sundev1
*.sundev1.*
*.swn
*.swo
*.swo
*.swp
*.tsk
00*
tags

# Other Dotfiles
*.bak
.ICAClient*
.ICE*
.Private*
.SecureCRTstart
.Skype*
.Xauthority
.arcrc
.bash_history
.bash_logout
.bbalias
.bbprofile
.bbprofile.log
.cache*
.compiz*
.config*
.dbus*
.dbxhist
.dmrc
.eclipse*
.ecrypt*
.emacs
.exrc*
.filezilla*
.flexlmrc
.fontconfig/*
.gconf*
.gitNOTES/*
.gitconfig
.gitk*
.gnome*
.gstreamer*
.gtkrc*
.java*
.kde*
.kshrc
.lesshst
.local*
.macro*
.mono*
.mozilla*
.nfs*
.nv*
.oldgit*
.opera*
.pki*
.profile
.pu*
.quantify*
.qvrc
.recently-used*
.robolibs-config.*
.scrapergui
.sh_history
.ssh*
.steam*
.subversion*
.swt*
.thumbnails*
.totalview*
.vas*
.vim/.netrwhist*
.vim/bundle*
.vimcoder*
.viminfo
.wireshark*
.xauth*
.xemacs*
.xemacs*
.xs*

# BB Directories
mbig*
notes/*
scrapingnotes/*
shellscripts/*
training_continuing/*
training_labs/*
training_labs/cpp_debugging_lab2/purify/*
training_labs/demo/tools/purify/*
training_labs/examples/breg/*
training_labs/git/examples/*

# Home Directories
Books*
Desktop*
Documents*
Downloads*
Music*
Projects*
app-defaults*
examples*
nohup.out
Pictures*
